<a href="https://colab.research.google.com/github/chanxxw/AIFFEL_quest_cr/blob/master/Python/My_First_Python/my_first_python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 내생애 첫 파이썬
### 한입에쏙파이썬 책을 바탕으로 하는 모두모임
- https://modulabs.co.kr/community/momos/188/crews
- 공부용 유튜브 링크 : https://youtu.be/UrwFkNRzzT4?si=hbMEw2JqM8bA8Xgr
- 학습 기간 : 2025.04.15.~24.
- 매주 화, 목 15:00~17:00


### 본 ipynb는 #61~#85 내용을 담고 있습니다.

In [ ]:
# 61 코드 7-10 딕셔너리에서 키-값을 제거하는 코드
clover = {'나이' : 27, '직업' : '병사', '번호' : 6}
print(clover)
del clover['나이']
print(clover)

{'나이': 27, '직업': '병사', '번호': 6}
{'직업': '병사', '번호': 6}

In [ ]:
# 62 코드 7-11
# 주문 1: '스페이드1'은 '비빔라면'을, '다이아2'는 '매운라면을 주문햇어요.
# 주문 2: '클로버3'이 '카레라면'을 주문했어요.
# 주문 3: '다이아2'가 '매운라면'을 '짜장라면'으로 바꿨어요.
# 주문 4: 다이어트중인 '스페이드1'이 주문을 취소했어요.

order = {'스페이드1' : '비빔라면', '다이아2' : '매운라면'} # 주문 1
print(order)
order['클로버3'] = '카레라면' # 주문 2
print(order)
order['다이아2'] = '짜장라면' # 주문 3
print(order)
del order['스페이드1'] # 주문 4
print(order)

{'스페이드1': '비빔라면', '다이아2': '매운라면'}
{'스페이드1': '비빔라면', '다이아2': '매운라면', '클로버3': '카레라면'}
{'스페이드1': '비빔라면', '다이아2': '짜장라면', '클로버3': '카레라면'}
{'다이아2': '짜장라면', '클로버3': '카레라면'}

In [ ]:
# 63 모든 카드 병사에게 유죄 판결을 내리는 코드, 8-1은 패스
# 64 함수 내장 함수, 모듈의 함수, 사용자 정의 함수
# 내장 함수 : 빌트인, 내장되어 있음. 바로 갖다 쓸 수 있음(print, range 등)
# 모듈의 함수 : 비슷한 함수 끼리 묶어놓은 모듈을 불러와서 사용
# 사용자 정의 함수 : 직접 만들어서 사용

# 65 함수의 구조
# def 함수_이름(인수):
#   실행할_명령
#   return 반환값

# 코드 8-2 함수를 사용해 문자열을 출력하는 코드
def my_func():
  print('토끼야 안녕')
my_func()

토끼야 안녕

In [ ]:
# 코드 8-3 함수를 사용해 두 개의 숫자를 더하는 코드
def add(num1, num2):
  return num1 + num2

print(add(2,3))

5

In [ ]:
# 코드 8-4 함수를 사용해 두 개의 숫자를 더하고 곱하는 코드
def add_mul(num1, num2):
  return num1 + num2, num1*num2
print(add_mul(2,3)) # 튜플로 묶어서 출력해줌

(5, 6)

In [ ]:
# 66부터 https://www.youtube.com/watch?v=OpFrq7DklB4&list=PLGPF8gvWLYyontH0PECIUFFUdvATXWQEL&index=68
# 입력받은 카드 병사에게 유죄 판결을 내리는 judge_cards 함수를 만드세요.
# 이 함수를 사용해 하트 1~3, 클로버 1~3, 스페이드 1~3에게 판결을 내리세요

def judge_card(name):
  print(name, '1 유죄!')
  print(name, '2 유죄!')
  print(name, '3 유죄!')

judge_card('하트')
judge_card('클로버')
judge_card('스페이드')

하트 1 유죄!
하트 2 유죄!
하트 3 유죄!
클로버 1 유죄!
클로버 2 유죄!
클로버 3 유죄!
스페이드 1 유죄!
스페이드 2 유죄!
스페이드 3 유죄!

In [ ]:
# 내가 수정해보기, 하트와 클로버를 자동화하여 f-string을 활용해보자
def judge_cards(suit_list, number_list):
    for suit in suit_list:
        for num in number_list:
            print(f'{suit} {num} 유죄!')

# 하트, 클로버, 스페이드의 1~3번 카드에 대해 판결
card_suits = ['하트', '클로버', '스페이드']
card_numbers = [1, 2, 3]

judge_cards(card_suits, card_numbers)

하트 1 유죄!
하트 2 유죄!
하트 3 유죄!
클로버 1 유죄!
클로버 2 유죄!
클로버 3 유죄!
스페이드 1 유죄!
스페이드 2 유죄!
스페이드 3 유죄!

In [ ]:
# 67 모듈
# import 모듈_이름
# 68 랜덤하게 뽑기 import random
# random.choice(리스트) : 1개 뽑음
import random
animals = ['체셔고양이', '오리', '도도새']
print(random.choice(animals))
# random.sample(리스트, 뽑을_개수)
print(random.sample(animals, 2))
# randint(시작 값, 끝값)
import random
print(random.randint(5, 10))

체셔고양이
['도도새', '오리']
7

In [ ]:
# 69 random.choice()를 사용해 cards에서 임의로 카드 병사 한 명을 뽑으세요.
# 뽑힌 카드 병사에게 유죄 판결을 내리세요.
# 코드 8-9
import random
cards = ['하트', '클로버', '스페이드']
chosen_card = random.choice(cards)
print(chosen_card, '유죄!')

하트 유죄!

In [ ]:
# 70 모듈을 사용하는 이유
# 71 연습문제
print(3+1-2) # 2로 출력해야 함
print((3-1)*2) # 4로 출력해야 함
print((3-1)/2) # 1로 출력해야 함 1.0으로 출력이 아니라 1로 출력하려고 하면 (3*1-2)

2
4
1.0

In [ ]:
num1 = 9
num2 = 2
print(num1//num2) # 몫을 구하는 거니까 4
print(num1%num2) # 나머지를 구하는 거니까 1

4
1

In [ ]:
# 출력 결과가 다른 하나를 골라보기
print(8/2) # 4.0
print(2*2) # 4
print(8.0/2) # 4.0
print(8.5//2) # 4.0

4.0
4
4.0
4.0

In [ ]:
# 딸기 11개를 3명의 친구들에게 나눠주려고 합니다. 나눠주고 남은 딸기의 갯수를 출력하는 코드를 작성하세요.
print(11%3)

2

In [ ]:
# 다음 코드의 출력 결과를 적어보기
print('2'+'4') # 24(string type)

24

In [ ]:
## 72
# 다음 코드의 출력 결과를 적어보세요.
alphabets = 'abc' + 'de' + 'f'
print(alphabets) #abcdef
# 다음 코드의 출력 결과를 적어보세요.
print('말랑'*2) # 말랑말랑
# 다음 코드의 출력 결과를 적어보세요.
count = 1
count = count + 1
count = 1
print(count) # 1
# 다음 코드의 출력 결과를 적어보세요
fruits = '자몽 레몬'
print(fruits + '멜론') # 자몽 레몬멜론(쉼표는 자동 띄어쓰기, +는 안함)
# 변수의 이름으로 적합한 것은?
# _fruits : 가능
# 2nd_candy : 숫자로 시작해서 아노딤
# candy bag : 띄어쓰기 안됨
# student_id : 가능

abcdef
말랑말랑
1
자몽 레몬멜론

In [ ]:
# 73 [1,2,3]으로 출력되도록 빈칸을 채워보기
nums = [1,2,3]
print(nums)

for num in range(3):
  print(num+1) # 이건 리스트로 출력하는게 아니군

# 다음 코드의 출력 결과를 적어보세요.
fruits = [] #  빈 리스트
print(fruits) # []
fruits.append('자몽')
print(fruits) # ['자몽']
fruits.append('멜론')
print(fruits) # ['자몽', '멜론']
fruits.append('레몬')
print(fruits) # ['자몽', '멜론', '레몬']

[1, 2, 3]
1
2
3
[]
['자몽']
['자몽', '멜론']
['자몽', '멜론', '레몬']

In [ ]:
# 다음 코드의 출력 결과를 적어보세요.
fruits = ['자몽', '멜론', '레몬']
print(fruits[1]) # 1번째인 멜론 출력
# ['멜론', '레몬']으로 출력되도록 코드를 적어보기
del fruits[0]
print(fruits)

멜론
['멜론', '레몬']

In [ ]:
# 다음 코드의 실행 결과를 골라보세요.
fruits = ['멜론', '레몬']
fruits[1] = '거봉' # 1번째를 거봉으로 치환
print(fruits) # ['멜론', '거봉']

['멜론', '거봉']

In [ ]:
# [1,2,3,4]를 만들기
nums = [1,3]
nums.insert(1,2) # 추가한 코드, insert 사용 결과값 [1,2,3]
nums.append(3) # [1,2,3,3]
nums[3] = 4 # 추가한 코드, 3번째 리스트를 4로 변경
print(nums) # [1,2,3,4]

[1, 2, 3, 4]

In [ ]:
# 다음 코드의 출력 결과를 적어보세요.
nums = [1,2,3,4,5]
print(nums[2]) # 2번째인 3
print(nums[-3]) # 뒤에서 3번째인 3
print(nums[0:3]) # 0번부터 2번째까지 [1,2,3]
print(nums[2:5]) # 2번부터 (5-1)번째까지[3,4,5]

3
3
[1, 2, 3]
[3, 4, 5]

In [ ]:
# 다음 출력 코드의 결과를 적어보세요.
nums = [1,1,1,2,2,3]
print(nums.count(1)) # 3개니까 3

3

In [ ]:
fruits = ['멜론', '거봉', '레몬']
# 가나다순으로 정렬
# a = fruits.sort()
# print(a) # none으로 출력됨 print(fruits.sort()) 도 none으로 출력됨
print(sorted(fruits))
print(fruits)
fruits.sort()
print(fruits)

['거봉', '레몬', '멜론']
['멜론', '거봉', '레몬']
['거봉', '레몬', '멜론']

In [ ]:
# 75 for 문
for num in [3,1,2]:
  print(num)

3
1
2

In [ ]:
for num in range(2): # 0, 1
  print(num)

0
1

In [ ]:
clovers = ['클로버1','클로버2','클로버3']
print(clovers[0])
print(clovers[1])
print(clovers[2])

# 동일한 출력을 print를 한번만 사용해보기
for num in range(3):
  print(clovers[num])

for clover in clovers: # 이 방법도 있군
  print(clover)

클로버1
클로버2
클로버3
클로버1
클로버2
클로버3
클로버1
클로버2
클로버3

In [ ]:
# for와 range를 활용해서 * ** *** 출력해보기
for num in range(3):
  print("*"*(num+1))

*
**
***

In [ ]:
# 76 리스트의 정수를 차례로 가져와 ** * ***의 3층짜리 별을 찍어보세요
stars = [2, 1, 3]
for num in stars:
  print('*'*num)

**
*
***

In [ ]:
# 리스트에 저장되어 있는 모든 카드 번호의 평균을 구해서 출력하세요.
total = 0
card_nums = [1,3,6,7]
# 여기에 코드 추가
for num in card_nums:
  total = total + num
print(total/4)

4.25

In [ ]:
# 77 false, true
switch = '켜짐'
if switch == '켜짐':
  print('조명이 켜졌어요.')

조명이 켜졌어요.

In [ ]:
# 절댓값을 구하는 코드를 작성하세요
input_number = -9
# 여기서부터 코드 작성
if input_number >= 0:
  absolute_value = input_number
else:
  absolute_value = input_number*(-1)

print(absolute_value)

9

In [ ]:
# 78 [1,3,5,7,9]가 출력되도록 빈칸을 채워보기
odd_nums = []
odd = []
for num in range(10):
# 여기부터 코드 추가
  if num%2 != 0:
    odd.append(num)
  odd_nums = odd
print(odd_nums)
# 더 좋은 답이 있을 것 같아. 정답은 아래

[1, 3, 5, 7, 9]

In [ ]:
odd_nums = []
for num in range(10):
  if num%2 == 1:
    odd_nums.append(num) # 아 원래 비어있는 리스트구나...
print(odd_nums)

[1, 3, 5, 7, 9]

In [ ]:
# 아래 조건을 참고해 윤년을 계산하는 코드를 작성하세요.
# 연도가 400으로 나누어 떨어지면 윤년입니다.
# 연수가 4로 나누어 떨어지면서 100으로 나누어 떨어지지 않으면 윤년입니다.
year = 2016
if year % 400 == 0:
  print(year,"년은 윤년입니다.")
elif year % 4 == 0 and year % 100 != 0: # and는 논리연산자
  print(year,"년은 윤년입니다.")
else:
  print(year,"년은 윤년이 아닙니다.")

2016 년은 윤년입니다.

In [ ]:
# 79
count = 0
while count < 3:
  print(count)
  count = count + 1 # 0, 1, 2

0
1
2

In [ ]:
# 2, 3, 4를 출력하기
count = 1
while count < 4:
  count = count + 1
  print(count)

2
3
4

In [ ]:
# 다음 코드의 출력 결과를 적어보기
count = 0
while count <= 5: # 0,1,2,3,4,5
  if count%2 != 0: # 홀수면
    print(count) # 프린트
  count = count + 1

1
3
5

In [ ]:
# while을 사용해서 1부터 5까지 총합을 구하기
total = 0
count = 1
while count <= 5:
# 여기서부터 코드 작성
  total = total + count
  count = count + 1
print('총합은', total)

총합은 15

In [ ]:
# 3 부터 거꾸로 세는 코드 작성하기
count = 3
while count > 0:
  print(count)
  count = count - 1

3
2
1

In [ ]:
# 80 1,2,3을 출력하는 while True:를 사용하기
num = 1
while True:
  if num > 3:
    break
  else:
    print(num)
    num = num + 1

1
2
3

In [ ]:
# 81 82
alice = {}
alice['성별'] = '여'
alice['나이'] = 13
alice['혈액형'] = 'AB'
print(alice)

{'성별': '여', '나이': 13, '혈액형': 'AB'}

In [ ]:
# 83 *** ** * 가 나오도록 함수 설정하기
def draw_stars(num):
  print('*'*num)

draw_stars(3)
draw_stars(2)
draw_stars(1)

***
**
*

In [ ]:
# 빨주노초파남보 나오도록 concat함수 만들기
def concat(a, b):
  print(a + b)
  return a + b

print(concat('빨주노초','파남보'))

빨주노초파남보
빨주노초파남보

In [ ]:
# sub_div() 만들기
def sub_div(a, b):
  return a-b, a/b

print(sub_div(6,3))

(3, 2.0)

In [ ]:
def judge_card(a, nums):
  for num in range(nums):
    print(a, num+1, '유죄!')
  return
judge_card('하트', 2)
judge_card('클로버', 3)

하트 1 유죄!
하트 2 유죄!
클로버 1 유죄!
클로버 2 유죄!
클로버 3 유죄!

In [ ]:
# 84 무작위로 한 장의 카드를 뽑아보기
import random
clovers = ['클로버1','클로버2','클로버3']
print(random.choice(clovers))
# 두장 뽑기
print(random.sample(clovers, 2))

클로버3
['클로버2', '클로버1']

In [ ]:
import random

birth_year = ['시끄러운 ', '푸른 ', '적색 ', '조용한 ', '웅크린 ', '백색 ', '지혜로운 ', '용감한 ', '날카로운 ', '욕심많은 ']
birth_month = ['늑대', '태양', '양', '매', '황소', '불꽃', '나무', '달빛', '말', '돼지', '하늘', '바람']
birth_date = ['와(과) 함께 춤을', '의 기상', '은(는) 그림자 속에', '', '', '', '', '의 환생', '의 죽음', '아래에서',
              '을(를) 보라', '이(가) 노래하다', ' 그림자', '의 일격', '에게 꽃기를 남자', '의 행진', '의 왕', '의 유령',
              '을(를) 죽인자', '은(는) 맨날 잠잔다', '처럼', '의 고향', '의 전사', '은(는) 나의 친구', '의 노래', '의 정령',
              '의 파수꾼', '의 악마', '와(과) 같은 사나이', '을(를) 쓰러트린자', '의 혼', '은(는) 말이 없다']

random_name = random.choice(birth_year) + random.choice(birth_month) + random.choice(birth_date)

print('당신의 인디언식 이름은', random_name, '입니다.')

당신의 인디언식 이름은 웅크린 말 입니다.

In [ ]:
# 85 끝!