<a href="https://colab.research.google.com/github/chanxxw/AIFFEL_quest_cr/blob/master/Python/My_First_Python/my_first_python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 내생애 첫 파이썬
### 한입에쏙파이썬 책을 바탕으로 하는 모두모임
- https://modulabs.co.kr/community/momos/188/crews
- 공부용 유튜브 링크 : https://youtu.be/UrwFkNRzzT4?si=hbMEw2JqM8bA8Xgr
- 학습 기간 : 2025.04.15.~24.
- 매주 화, 목 15:00~17:00


### 본 ipynb는 #38~#60 내용을 담고 있습니다.

In [ ]:
# 코드 5-1 True와 False (대문자 주의)
print(True)
print(type(True))
print(False)
print(type(False))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# 코드 5-2 값을 비교하는 코드
print(1<2)
print(2<1)
# 코드 5-3 값을 비교하는 코드
print(2>1)
print(2>2)
# 코드 5-4 값을 비교하는 코드
print(1<=1)
print(2<=1)
# 코드 5-5 값을 비교하는 코드
print(1>=1)
print(1>=2)
# 코드 5-6 값을 비교하는 코드
print(1==1)
print(2==1)
# print(1=1) # 내가 궁금해서 쳐봄
# SyntaxError: expression cannot contain assignment, perhaps you meant "=="? 오류로 발생
# 코드 5-7 값을 비교하는 코드
print(1!=2)
print(2!=2)

True
False
True
False
True
False
True
False
True
False
True
False

In [ ]:
# if 문 코드 5-8 조건에 따라 출력하는 코드
if True:
    print('참입니다.')

참입니다.

In [ ]:
# 코드 5-9 조건에 따라 출력하는 코드
if False:
    print('참입니다.')
else:
    print('거짓입니다')

거짓입니다

In [ ]:
# 코드 5-10, 11 점수에 따라 합격여부를 출력하는 코드
score = 60
if score >= 90:
    print('합격입니다.')
else:
    print('탈락입니다.')

탈락입니다.

In [ ]:
# 코드 5-12 if와 else, elif(else if)
score = 75
if 80 < score <= 100:
    print('학점은 A입니다')
elif 60 < score <= 80:
    print('학점은 B입니다')
elif 40 < score <= 60:
    print('학점은 C입니다')
else:
    print('학점은 F입니다')

학점은 B입니다

In [ ]:
# 코드 5-13 총 입장료를 계산하는 코드
total_price = 0
ages = [22,21,17,32,4,28,19,8]
for age in ages:
    if age >=20:
        total_price = total_price + 8000
    elif age>=10:
        total_price = total_price + 5000
    else:
        total_price = total_price + 2500
print('총 입장료는', total_price, '원 입니다')

총 입장료는 47000 원 입니다

In [ ]:
# 여러조건 판단하기 5-14 여러 조건을 판단하는 코드
games = 12
points = 25
if games >= 10 and points >= 20:
    print('MVP로 선정되었습니다.')

MVP로 선정되었습니다.

In [ ]:
# 코드 5-15 and의 결과를 확인하는 코드
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# 코드 5-16 or의 결과를 확인하는 코드
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
# 코드 5-17 not의 결과를 확인하는 코드
print(not True)
print(not False)

False
True

In [ ]:
# 코드 5-18 인상착의로 범인을 잡아내는 코드
suspects = [['거위', '새', '암컷'], ['푸들', '개', '수컷'], ['비글', '개', '암컷']]
for suspect in suspects:
    if suspect[1] == '개' and suspect[2] == '암컷':
        print('범인은', suspect[0], '입니다')
    else:
        print(suspect[0], '는 범인이 아닙니다.')

# suspects[1] → 전체 리스트 중 두 번째 용의자 (['푸들', '개', '수컷'])

거위 는 범인이 아닙니다.
푸들 는 범인이 아닙니다.
범인은 비글 입니다

In [ ]:
# 조건으로 반복하기, while 기본 구조
# 코드 6-1 for를 사용해 거북이에게 인사하는 코드
for num in range(3):
    print('안녕 거북이', num)

안녕 거북이 0
안녕 거북이 1
안녕 거북이 2

In [ ]:
# 코드 6-2
num = 0
while num <3:
    print('안녕 거북이', num)
    num = num + 1
# 잘못 설정하면 무한 루프에 빠질 수 있어... num =+ 1로 했더니 순식간에..

안녕 거북이 0
안녕 거북이 1
안녕 거북이 2

In [ ]:
# while의 코드를 다섯 번만 반복하게 하세요.
# 반복할 때마다 몇 번째 바퀴인지 출력하세요.
# 전부 다 돌면 '경주 끝!'을 외치세요
# 코드 6-3
num = 0
while num<5:
    print('현재', num+1, '번째 바퀴 입니다')
    num = num + 1
print('경주 끝')

현재 1 번째 바퀴 입니다
현재 2 번째 바퀴 입니다
현재 3 번째 바퀴 입니다
현재 4 번째 바퀴 입니다
현재 5 번째 바퀴 입니다
경주 끝

In [ ]:
# 입력을 받는 방법 input()
# 코드 6-4 이름을 입력받는 코드
name = input('이름이 뭔가요? ')
print(name, '안녕!')

이름이 뭔가요?우찬
우찬 안녕!

In [ ]:
# 영국의 수도를 묻고 입력을 받아 answer에 저장하세요.
# 정답인 '런던'을 맞힐 때 까지 반복해서 질문하세요.
# 정답을 맞히면 반복을 멈추세요.
# 코드 6-5 영국의 수도를 묻는 코드
capital = input('영국의 수도는 어디인가요? ')
while capital != '런던':
    print('틀렸습니다.')
    capital = input('영국의 수도는 어디인가요? ')
print('맞습니다 정답은', capital, '입니다')

영국의 수도는 어디인가요? 파리
틀렸습니다.
영국의 수도는 어디인가요? 팔
틀렸습니다.
영국의 수도는 어디인가요? 런던
맞습니다 정답은 런던 입니다

In [ ]:
# continue와 break
# 코드 6-6 count가 2일때 넘어가는 코드
count = 0
while count < 4:
    count = count + 1
    if count == 3:
        continue # continue를 만나면 아래를 건너뛰고 다시 위의 조건문으로 돌아가요. 2는 스킵됨
    print(count)

1
2
4

In [ ]:
# 코드 6-7 break 활용
count = 0
while count < 4:
    count = count + 1
    if count == 3:
        break # break를 만나면 조건문을 멈춰버림
    print(count)

1
2

In [ ]:
# 무한 반복하기 whiile True : 무한 반복하게 됨.
# 파이썬 idle에서 컨트롤 c를 누르면 반복이 강제로 종료됨

In [ ]:
# 보기와 함께 영국의 수도를 묻고 answer에 저장하세요.
# 틀린 답을 말하면 어느 나라의 수도인지 말해주세요.
# 보기에 없는 답을 말하면 보기에서 고르도록 안내하세요.
# 정답인 '런던'을 맞힐 떄 까지 반복해서 질문하세요.
# 정답을 맞히면 break를 사용해 반복을 멈추세요

while True:
    answer = input('영국의 수도는 어디인가요 ?')
    if answer != '런던':
        print('틀렸습니다')
    else:
        print('맞히셨습니다')
        break


# 정답지
while True:
    answer = input('런던, 파리, 서울 중 영국의 수도는 어디일까요? ')
    if answer == '런던':
        print('정답입니다. 런던은 영국의 수도입니다.')
        break
    elif answer =='파리':
        print('파리는 프랑스의 수도입니다.')
    elif answer =='서울':
        print('서울은 대한민국의 수도입니다.')
    else:
        print('런던, 파리, 서울 중에서 골라주세요')

# 무한반복과 break를 활용해서 코드를 짤 수 있음

영국의 수도는 어디인가요 ?강
틀렸습니다
영국의 수도는 어디인가요 ?런던
맞히셨습니다
런던, 파리, 서울 중 영국의 수도는 어디일까요? ㅇ
런던, 파리, 서울 중에서 골라주세요
런던, 파리, 서울 중 영국의 수도는 어디일까요? 런던
정답입니다. 런던은 영국의 수도입니다.

In [ ]:
# 튜플 : 값을 바꿀 수가 없어요.
# 튜플은 소괄호로 구분하고, 소괄호 없이도 가능합니다
my_tuple1 = () # 빈 튜플을 생성
print('my_tuple1은', my_tuple1, '입니다.')

my_tuple2 = (1, -2, 3.14)
print('my_tuple2은', my_tuple2, '입니다.')

my_tuple3 = '엘리스', 10, 1.0, 1.2 # 소괄호 없이도 가능
print('my_tuple3은', my_tuple3, '입니다.')

my_tuple1은 () 입니다.
my_tuple2은 (1, -2, 3.14) 입니다.
my_tuple3은 ('엘리스', 10, 1.0, 1.2) 입니다.

In [ ]:
# 코드 7-2 값이 한 개인 튜플을 만드는 코드
my_int = (1)
print(type(my_int))
my_int2 = 1
print(type(my_int2)) # 괄호를 안써도 정수로 인식한닷
my_tuple = (1,) # 컴마를 써야만 튜플로 인식하게 됨
print(type(my_tuple))

<class 'int'>
<class 'int'>
<class 'tuple'>

In [ ]:
# 값을 가져오기 튜플[접근할_인덱스]
# 코드 7-3 튜플에서 값을 가져오는 코드
clovers = ('클로버1', '하트2', '클로버3')
print(clovers[1])

하트2

In [ ]:
# 튜플은 값을 수정할 수 없어요
# 코드 7-4 튜플에서 값을 수정을 시도해보기(불가능)
clovers = ('클로버1', '하트2', '클로버3')
clovers[1] = '하트2' # 같은 문자로 넣어도 오류가 뜨는구나

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 패킹과 언패킹
# 코드 7-5 패킹과 언패킹을 하는 코드
clovers = '클로버1', '클로버2', '클로버3'
print(clovers)
alice_blue = (240,248,255)
r, g, b = alice_blue
print('R:', r, 'G:', g, 'B:', b)  # r에 240, g에 248, b에 255가 매칭됨

('클로버1', '클로버2', '클로버3')
R: 240 G: 248 B: 255

In [ ]:
# 코드 7-6 두 변수의 값을 서로 교환하는 코드
dodo = '박하맛'
alice = '딸기맛'
print('도도새: '+ dodo + ', 앨리스: '+alice)
dodo, alice = alice, dodo
print('도도새: '+ dodo + ', 앨리스: '+alice)

도도새: 박하맛, 앨리스: 딸기맛
도도새: 딸기맛, 앨리스: 박하맛

In [ ]:
# 58, 딕셔너리 {키1: 값1, 키2: 값2, ...}
# 코드 7-7 딕셔너리를 만드는 코드
my_dict1 = {}
print(my_dict1)
my_dict2 = {0:1,1:-2,2:3.14}
print(my_dict2)
my_dict3 = {'이름':'앨리스', '나이':10, '시력': [1.0, 1.2]}
print(my_dict3)

{}
{0: 1, 1: -2, 2: 3.14}
{'이름': '앨리스', '나이': 10, '시력': [1.0, 1.2]}

In [ ]:
# 59, 딕셔너리[추가할_키] = 추가할_값
# 코드 7-8 딕셔너리에 키-값을 추가하는 코드
clover = {'나이': 27, '직업': '병사'}
print(clover)
clover['번호'] = 9
print(clover)

{'나이': 27, '직업': '병사'}
{'나이': 27, '직업': '병사', '번호': 9}

In [ ]:
# 60, 값에 접근하기 딕셔너리.get(접근할_키)
# 코드 7-9 딕셔너리의 값에 접근하는 코드
clover = {'나이': 27, '직업': '병사', '번호': 9}
print(clover['번호'])
clover['번호'] = 6 # 9에서 6으로 변경
print(clover['번호']) # 없는 키를 찾으려고 하면 오류(KeyError)가 발생(ex.print(clover['이름']) -> 오류 발생 )
print(clover.get('번호')) # 없는 키를 요청해도 에러 없이 None을 반환 (또는 기본값을 지정할 수 있음)

9
6
6