<a href="https://colab.research.google.com/github/chanxxw/AIFFEL_quest_cr/blob/master/Python/My_First_Python/my_first_python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 내생애 첫 파이썬
### 한입에쏙파이썬 책을 바탕으로 하는 모두모임
- https://modulabs.co.kr/community/momos/188/crews
- 공부용 유튜브 링크 : https://youtu.be/UrwFkNRzzT4?si=hbMEw2JqM8bA8Xgr
- 학습 기간 : 2025.04.15.~24.
- 매주 화, 목 15:00~17:00

### 본 ipynb는 #1~#19의 내용을 담고 있습니다.

In [ ]:
# 코드 1-1
print("Hello world!")
# Print와 같이 대문자로 시작하면 출력이 안됨
# 코딩을 하다보면 중간에 잘 출력되는지 확인하기 위해 print를 많이 사용하게 됨

Hello world!

In [ ]:
# 코드 1-3
print('토끼야 안녕!')

토끼야 안녕!

In [ ]:
# 코드 2-1
print(1)
print(-2)
print(3.14)
print(type(1))
print(type(-2))
print(type(3.14))

1
-2
3.14
<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
# 코드 2-2 사칙연산
print(1+2)
print(3-2)
print(2*4)
print(6/3)

3
1
8
2.0

In [ ]:
# 코드 2-3 제곱(**), 몫(//), 나머지(%)
print(5**2) # 5*5 = 25
print(5//2)
print(5%2)

25
2
1

In [ ]:
# 코드 2-4
# 3과 7을 더해서 출력하기
print(3+7)
# 6과 3을 곱해서 출력하기
print(6*3)
# 4의 2제곱을 출력하기
print(4**2)
# 9를 5로 나눴을 때 나머지를 출력하기
print(9%5)

10
18
16
4

In [ ]:
# 코드 2-5 문자열 출력
print("Hello World!")
print('3.14')
print(type(3.14)) # 3.14로 출력하면 float로 인식
print(type('3.14')) # '3.14'로 출력하면 문자로 인식
print('토끼야 안녕!')
print(("토끼야 안녕!")) # '', "" 같은 기능

Hello World!
3.14
<class 'float'>
<class 'str'>
토끼야 안녕!
토끼야 안녕!

In [ ]:
# 코드 2-6 문자열의 연산
print('토끼야' + '안녕!')
print('토끼야', '안녕!') # 쉼표로 구분하면 띄어쓰기가 붙음
print("토끼야 " + "안녕!") # +로 붙여주는데 띄어쓰기를 하려면 따옴표 안에 띄어쓰기를 붙여넣기
# 코드 2-7 문자열 * 연산
print('토끼' * 3) # 연산 시 정수로만 가능함

토끼야안녕!
토끼야 안녕!
토끼야 안녕!
토끼토끼토끼

In [ ]:
# 너무 긴 텍스트는 ''' 세번을 이용해서 보기 편하게 줄바뀜 기능 가능
print('''여기까지는
돌았습니다1''')

여기까지는
돌았습니다1

In [ ]:
print("'안녕'") # 안에 작은따옴표 덧붙이고 싶을때 큰 따옴표를 밖에 붙이기
print('"안녕"')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-7-43823a52bfc7>, line 3)

In [ ]:
# 코드 2-8 색깔 문자를 연결하는 코드
print("빨","주","노","초","파","남","보") # 띄어쓰기가 자동으로 생김
print("빨"+"주"+"노"+"초"+"파"+"남"+"보") # 띄어쓰기 없이 생김

빨 주 노 초 파 남 보
빨주노초파남보

In [ ]:
# 2-9 변수에 저장
rainbow = '빨주노초파남보'
print(rainbow)

# 변수명의 특성
# - 문자와 숫자, _를 사용할 수 있습니다.
# - 대문자와 소문자를 구분합니다.
# - 공백은 사용할 수 없습니다.
# - 숫자로 시작할 수 없습니다.
# - 미리 예약된 이름은 사용할 수 없습니다.

빨주노초파남보

'\n변수명의 특성\n- 문자와 숫자, _를 사용할 수 있습니다.\t\n- 대문자와 소문자를 구분합니다.  \n- 공백은 사용할 수 없습니다.\n- 숫자로 시작할 수 없습니다.\n- 미리 예약된 이름은 사용할 수 없습니다.\n'

In [ ]:
# 코드 2-10 변수에 저장한 값을 변경하는 코드
count = 0
print(count) # 0
count = 1
print(count) # 1로 변수 변경됨
count = count + 1
print(count) # 1 + 1이라서 2가 됨

0
1
2

In [ ]:
# 커피, 주스, 홍차 가격을 각각 coffee, juice, tea에 저장하세요.
coffee = 4100
juice = 4600
tea = 3900
# 변수를 사용해 주문에 맞게 계산하고 각 금액을 출력하세요
    # 주문서 1 : 커피 3잔, 주스 2잔, 홍차 1잔
print(coffee*3+juice*2+tea*1)
bill_1 = coffee*3+juice*2+tea*1
print(bill_1)
print("총 가격은", bill_1, "입니다.")
    # 주문서 2 : 커피 4잔, 주스 3잔, 홍차 3잔
print(coffee*4+juice*3+tea*3)
    # 주문서 3 : 커피 1잔, 주스 1잔, 홍차 2잔
print(coffee*1+juice*1+tea*2)

25400
25400
총 가격은 25400 입니다.
41900
16500

In [ ]:
# 주석처리 ctrl + /로 가능함